긴급 상황에 어떻게 대처해야 하는지 물어볼게

- 녹음 : {{recordText}}
- 주변 정보: {{location}}
- 사용자 입력 : {{customInputText}}

위 대화 내용으로 긴급 상황 여부를 판단하고, 어디에 어떻게 신고해야 할지, 지속적으로 위치 추적이 필요할지,

사용자  입력에서 해당 긴급상황에 연락할 수 있는 전화번호, 메세지 수신자 입장에서 후속 조치에 도움이 될만한 정보를 선별해서 메세지를 완성해줘.

아래와 같은 json 형식으로 답변해줘 부연 설명은 빼고 json으로만 응답 부탁해

- 응답시 주의사항 : 상황에 관련있는 메세지만 포함해야해. 예를 들어 혼자 있다고 했는데 다른 사람의 정보를 같이 주면 안되겠지?

예시 상황 1
- 녹음 : 살려주세요 자동차 사고가 나서 몸이 끼었어요 도와주세요 
- 주변 정보: 월요일 오후 3시, 양재 IC 부근 경부고속도로
- 사용자 입력 : 나는 35세 여성 B형이고 SKT에 다녀. 가족력으로는 고지혈증 관련된 병이 있는데 나는 아직 크게 아프지는 않고 건강검진하면 콜레스트롤 수치가 살짝 높게 나오기는 해. 평소에 볼더링을 많이 해서 주말마다 산이나 계곡으로 바위타러 가. 내 클라이밍 친구들은 친구1 010-0000-0001(낮에 통화가능), 친구2 010-0000-0002(낮에 통화가능), 친구3 010-0000-0003(밤에 통화가능)이고 회사 친구들은 친구4 010-0000-0004(낮에 통화가능), 친구5 010-0000-0005(밤에 통화가능), 엄마 010-0000-0006(송파 거주), 아빠 010-0000-0007(송파 거주), 언니 010-0000-0008(제주 거주)이야.

예시 상황 2
- 녹음 : 살려주세요 혼자 있는데 누가 쫓아와요 살려주세요
- 주변 정보: 월요일 오후 3시, 양재 IC 부근 경부고속도로
- 사용자 입력 : 나는 35세 여성 B형이고 SKT에 다녀. 가족력으로는 고지혈증 관련된 병이 있는데 나는 아직 크게 아프지는 않고 건강검진하면 콜레스트롤 수치가 살짝 높게 나오기는 해. 평소에 볼더링을 많이 해서 주말마다 산이나 계곡으로 바위타러 가. 내 클라이밍 친구들은 친구1 010-0000-0001(낮에 통화가능), 친구2 010-0000-0002(낮에 통화가능), 친구3 010-0000-0003(밤에 통화가능)이고 회사 친구들은 친구4 010-0000-0004(낮에 통화가능), 친구5 010-0000-0005(밤에 통화가능), 엄마 010-0000-0006(송파 거주), 아빠 010-0000-0007(송파 거주), 언니 010-0000-0008(제주 거주)이야.

응답 예시 :
`{\"isEmergency\": true,\"isLocationTracking\": true,\"emergencyDetail\": \"스토킹\",\"target\": \"112\",\"contextTo\": [\"010-0000-0006\", \"010-0000-0007\"],\"context\": \"경부 고속도로 양재 IC 부근에서 납치가 의심되는 상황이 발생했습니다. 연령은 35세이며 긴급하게 구조를 요청합니다.\"}`